/* display: none; → display: block;
パッと切り替わるだけ　noneは要素が存在しない状態になる */
.box{
	opacity: 0; 
}

/*==================================================
動かしたい動き（” ふわっ” ）
===================================*/
.fadeUp {
animation-name:fadeUpAnime;
animation-duration:0.5s;
animation-fill-mode:forwards;
opacity: 0; 
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
	transform: translateY(100px);
  }

  to {
    opacity: 1;
	transform: translateY(0);
  }
}
