/* ハンバーガーメニュー表示中のサイトの状態 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.7); 
  opacity: 0;  
   /*  display noneとの違い　見えないだけ　場所は残る*/
  visibility: hidden;      
  transition: opacity 0.3s ease;
  /* これがないと”☓”が透ける */
  z-index: 998;               
}

.overlay.active {
  opacity: 1;
  /* JSやCSSアニメーションで切り替えるやクリック不可問題を防ぐため */
  visibility: visible;
}



/*==================================================
 3本線が×に
===================================*/

/* 3本線 */
.openbtn{
	position: relative;
	background:#fff;
	cursor: pointer;
    width: 50px;
    height:50px;
	border-radius: 5px;
}

/*ボタン内側*/
.openbtn span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background:#6E026F;
  	width: 45%;
  }

.openbtn span:nth-of-type(1) {
	top:15px;	
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

/*activeクラスが付与されると線が回転して×に*/

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;/*真ん中の線は透過*/
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}



/* ナビ全体 */
.menu-list {
    position: fixed;    
    top: 0;
    left: -300px;         /* 初期は左に隠す */
    width: 300px;         /* メニュー幅 */
    height: 100vh;        /* 画面全体の高さ */
    background-color: #6E026F;
     box-shadow: 2px 0 5px rgba(0,0,0,0.2);
    transition: left 0.3s ease; 
    z-index: 999;         /* ボタンより上に表示 */
    padding-top: 60px;    /* ボタンと重ならないように調整 */
}

.menu-list ul {
    padding: 0;
    margin: 0;
}

.menu-list ul li {
    margin: 20px 0;
    position: relative;
}

.menu-list ul li a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 20px;
    display: block;
}

.menu-list ul li:nth-of-type(4) , .menu-list ul li:nth-of-type(5) , .menu-list ul li:nth-of-type(6){
    padding: 0;
    margin: 0;
}

.menu-list ul li.social a {
    padding: 5px 20px;
}

.menu-list ul li::after {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 19px;
    right: 19px;
    height: 1px;
    background: #ccc; 
}

.menu-list ul li:nth-of-type(1)::before {
    content: '';
    position: absolute;
    top: -12px;
    left: 19px;
    right: 19px;
    height: 1px;
    background: #ccc; 
}

.menu-list ul li:nth-of-type(4)::after , .menu-list ul li:nth-of-type(5)::after , .menu-list ul li:nth-of-type(6)::after  {
 display: none;   
}

/* activeクラスで左からスライドイン */
.menu-list.active {
    left: 0;
}



